*VT100*colorMode: on
*VT100*dynamicColors: on

! special
*.foreground:   #d3d0c8
*.background:   #2d2d2d
*.cursorColor:  #79d4d5

! black
*.color0:       #242424
*.color8:       #747369

! red
*.color1:       #f2777a
*.color9:       #913535

! green
*.color2:       #99cc99
*.color10:      #A0A35D

! yellow
*.color3:       #ffcc66
*.color11:      #C47848

! blue
*.color4:       #6699cc
*.color12:      #527386

! magenta
*.color5:       #cc99cc
*.color13:      #846488

! cyan
*.color6:       #66cccc
*.color14:      #618E8B

! white
*.color7:       #ffffff
*.color15:      #969896

!xterm
xterm*utf8: 1
xterm*faceName: Source Code Pro - Black
xterm*faceSize: 7
xterm*cursor: i-beam
xterm*visualBell: false
xterm*cursorColor: #79d4d5
xterm*toolBar: false
xterm*internalBorder: 20
xterm*borderWidth: 0
xterm*loginShell: true
xterm*scrollBar: false
xterm*rightScrollBar: false
xterm*saveLines: 999
xterm*VT100.Translations: #override \
   Ctrl Shift <Key>V: insert-selection(CLIPBOARD) \n\
   Ctrl Shift <Key>C: copy-selection(CLIPBOARD)

! urxvt
URxvt*internalBorder: 20
URxvt*buffered: true
URxvt*jumpScroll: true
URxvt*skipScroll: true
URxvt*visualBell: false
URxvt*cursorColor: #79d4d5
URxvt*cursorBlink: false
URxvt.underlineURLs: false
URxvt*font: xft:Source Code Pro - Black:size=7
URxvt.letterSpace: -1
URxvt.lineSpace: 0
URxvt*depth: 32
URxvt*borderless: 1
URxvt*scrollBar: false
URxvt*loginShell: true
Urxvt*secondaryScroll: true # Enable Shift-PageUp/Down in screen
URxvt*saveLines: 5000
URxvt*termName: rxvt-unicode
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.iso14755: false
URxvt.iso14755_52: false
